
/*skeleton*/

body {
    display: flex;
    flex-direction: row;
}

.left-side-container, .center-container, .right-side-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*border-style: dotted;*/
}

.left-side-container {
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}

.center-container {
    flex-grow: 5;
    position: relative;
}

.right-side-container {
    flex-grow: 2;
    justify-content: center;
    /*align-items: flex-start;*/
}

/*left-side-container*/

.menu-top {
    margin: 1em 1em 1em 3em;
}

.menu-button {
    border-style: none;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    margin: 1em 1em 1em 3em;
}

.menu-button:hover {
    background-color: #1DA1F3;
    border-radius: 20em;
}

.left-side-container .tweet-button {
    height: 40px;
    font-size: 16px;
    width: 60%;
    margin: 0 6em 0 2em;
}

.virus-img {
    width: 40px;
    margin: 0 1em 0 0;
}

.menu-label {
    font-weight: bold;
    font-size: 20px;
}

/* center-container */

.center-container-banner {
    border-style: solid;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    /*width: 100%;*/
    margin: 0;
}

.tweet {
    border-style: solid;
}

.tweet-who {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border-style: solid;*/
}

.tweet-content {
    margin: 0 1em 0 5em;
    /*border-style: solid;*/
}

.tweet-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7em 0 5em;
    /*border-style: solid;*/
}

.virus-img2 {
    width: 20px;
}

.center-container .tweet-button {
    height: 40px;
    font-size: 16px;
    width: 60%;
    margin: 0 6em 0 2em;
}

/* right-side-container */

.search, .trends, .follow {
    background-color: #F5F8FA;
    border-style: none;
    margin: 1em 4em 1em 4em;
}

.search {
    /*flex-grow: 1;*/
    border-radius: 4em;
    text-align: center;
}

.trends {
    /*flex-grow: 4;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.follow {
    /*flex-grow: 4;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-side-container-title {
    font-weight: bold;
    font-size: 20px;
    margin: 1em 0 1em 0;
}

.right-side-container-title-text {
    margin: 0 0 0 1em;
}

.follow-object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 10px black;
    border-bottom: 10px;
    /*margin: 5px 0 5px 1em;*/
}

.follow-object-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow-object-img {
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

.follow-button {
    border-radius: 20px;
    background-color: #F5F8FA;
    color: #1DA1F3;
    border-style: solid;
    border-color: #1DA1F3;
    align-items: center;
    font-weight: bold;
}

/* common */

.tweet-button {
    border-style: none;
    border-radius: 20px;
    background-color: #1DA1F3;
    color: white;
    align-items: center;
    font-weight: bold;
}